<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div>Login</div>
    <div>
        <form action="/user/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="example@gmail.com">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="**********" >
            <button type="submit"> Login</button>
        </form>
    </div>
    <div>
        <form action="/signup" method="get">
            
            <button type="submit"> Signup</button>
        </form>
    </div>
</body>
</html>